# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d6450eb43940fdb3c03b828a376d552a"
name = "YONOOX"
application_url = "https://lying-connect-reel-differential.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "/webhooks"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://lying-connect-reel-differential.trycloudflare.com/auth/callback",
  "https://lying-connect-reel-differential.trycloudflare.com/auth/shopify/callback"
]
